@font-face {
  font-family: 'iconfont';  /* project id 711127 */
  src: url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.eot');
  src: url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.woff') format('woff'),
  url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_711127_jxy25n8dhv8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-callback:before {
  content: "\e601";
}

.icon-praise:before {
  content: "\e602";
}

.icon-unread:before {
  content: "\e600";
}

.icon-down:before {
  content: "\e603";
}

.icon-left-full:before {
  content: "\e604";
}

.icon-top:before {
  content: "\e605";
}

.icon-right-full:before {
  content: "\e606";
}

.icon-unsigned:before {
  content: "\e607";
}

.icon-lock:before {
  content: "\e608";
}

.icon-right:before {
  content: "\e609";
}

.icon-home-selected:before {
  content: "\e60a";
}

.icon-home:before {
  content: "\e60d";
}

.icon-my-selected:before {
  content: "\e60b";
}

.icon-my:before {
  content: "\e60c";
}

.icon-gzt:before {
  content: "\e60e";
}

.icon-manage-gzt:before {
  content: "\e60f";
}
.icon-delete:before {
  content: "\e60b";
}