@import '../style/variable.scss';
.__noticebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-primary;
  padding: 15rpx 20rpx;
  &-icon {
    margin-right: 20rpx;
  }
  &-main {
    position: relative;
    flex: 1;
    overflow: hidden;
  }
  &-content {
    display: inline-block;
    line-height: 50rpx;
    font-size: 28rpx;
    color: #fff;
  }
  &-right {
    margin-left: 1%;
  }
  &-loop {
    white-space: nowrap;
  }
}