$color-fullbg: #fff;
$color-bg: #f4f4f4;
$color-primary: #1AAD19;
$color-font-primary: #000;
$color-font-sub: #999;
$color-primary-light: #8CD68C;
$color-hint: #FC946F;
$color-font-hint: #4899FF;

$opacity-tag: .15;
$opacity-button: .5;

$size-font-primary: 28rpx;
$size-font-h3: 34rpx;