@import '../style/mixin.scss';
@import '../style/variable.scss';
.__collapse {
  background: #fff;
  &-title {
    padding: 0 30rpx;
    height: 100rpx;
    line-height: 100rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 90%;
    }
  }
  &-top {
    @include bline();
    &::before {
      left: 30rpx;
      width: calc(200% - 120rpx);
    }
    .__collapse-down {
      transform: rotate(-180deg);
    }
  }
  &-down {
    transition: all .4s;
  }
}

.__collapse-disabled {
  background: $color-disabled;
}