.badge {
  position: relative;
}

.badge-text {
  position: absolute;
  right: 20rpx;
  top: 7rpx;
  transform: translateX(100%) translateY(-50%);
  border-radius: 20px;
  padding: 4rpx 12rpx;
  font-size: 20rpx;
  color: #fff;
  background: #f12c20;
}

.badge-dot {
  position: absolute;
  right: -4px;
  top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f12c20;
}